<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631823790061-ic3diadqubkuo73pliqsi332lcc6ui8e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631823790061-ic3diadqubkuo73pliqsi332lcc6ui8e</string>
	<key>API_KEY</key>
	<string>AIzaSyAAZ8wGCX_lT6nRjFo2XJzVLHe_mi1XY1U</string>
	<key>GCM_SENDER_ID</key>
	<string>631823790061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erayerman.Shop-Try</string>
	<key>PROJECT_ID</key>
	<string>ios-shop-try</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-shop-try.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631823790061:ios:d64f88e36a692d97e741e4</string>
</dict>
</plist>